<h1>Gif Generator</h1>
<div id="randomSearchContainer">
  <!-- random giphy button -->
  <button class="randomGifButton" ng-click="giphy.getRandomGif()">Random Gif!</button>

  <!-- search giphy form  -->
  <form class='searchForm'>
    <input type='text' ng-model='giphy.searchTerm' />
    <button type='search' ng-click='giphy.searchGif(giphy.searchTerm)'>Search</button>
  </form>
</div>

<!-- giphy display div -->
<div id="gifImageContainer">
  <img class="randomGif"
  ng-show="giphy.randomGifUrl"
  ng-src="{{giphy.randomGifUrl}}"
  alt="A random-ass gif{{giphy.imageAlt}}">
  <br>
  <img class="searchGif"
  ng-repeat="gif in giphy.gifPic"
  ng-src="{{gif.images.fixed_height.url}}">
</div>
