body {
  background-color: #29bec3;
  font-family: 'Quicksand';
  font-weight: bold;
}

h1 {
  font-size: 50px;
  text-align: center;
}

#randomSearchContainer {
  float: left;
  margin: 40px 40px 40px 40px;
  padding: 40px 40px 40px 40px;
}

.randomGifButton {
  margin: 20px 20px 20px 20px;
}

.searchForm {
  margin: 20px 20px 20px 20px;
}

#gifImageContainer {
  float: right;
}

.randomGif {
  margin: 20px 20px 20px 20px;
  height: 300px;
  width: 350px;
}

.searchGif {
  margin: 20px 20px 20px 20px;
  height: 300px;
  width: 350px;
}
